body {
  background-color: #e0ccbd;
  margin: 0;
  box-shadow:
    inset 100px 0 120px rgb(201, 158, 125),
    inset -100px 0 120px rgb(201, 158, 125);
}

header{
  background-color: rgb(90, 84, 83);
  color: #000000;
  opacity: 0.5;
  padding: 1rem;
  height: 100px;
}

footer{
  background-color: rgb(90, 84, 83);
  color: #000000;
  opacity: 0.5;
  padding: 1rem;
}

header a {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
}

main {
  padding: 1rem;
}

.puzzles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.puzzle {
  border: 1px #3f1c1c solid;
  margin: 1rem;
  background-color: rgb(224, 204, 193);
  color: #210808;
  box-shadow: -10px 0 10px rgb(70, 43, 43);
}

.puzzle img {
  width: 300px;
  height: 300px;
}

.puzzle-info {
  padding: 1;
}
